*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    background-color:  rgb(0, 68, 255);

    font-size: 20px;
    text-align: center;
    padding: 7px;
    height: 50px;
    width: 100%;
}

.logo a{
    text-decoration: none;
    color: white;
}

.navb{
    width: 100%;
    overflow: hidden;
    background-color: blue;
    border: 1px solid black;
    box-shadow: black 0px 2px 5px;
}

.navb ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navb ul li a{
    text-decoration: none;
    float: left;
    padding: 20px 30px;
    font-size: larger;
    color: white;
}

.navb ul li a:hover{
    background-color: white;
    border-radius: 30px;
    padding: 15px 30px ;
    color: blue;
    transition: 0.4s;
}

.order-btn{
    text-decoration: none;
    background-color: rgb(2, 0, 138);
    color: white;
    padding: 10px;
    border-radius: 30px;
    position: relative;
    top: 10px
}

.order-btn:hover{
    background-color: orange;
    color: black;
    transition: .5s;
}






.products{
    width: 100%;
    padding:10px;
	margin:50px;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
}

.items{
    text-align: center;
    width: 15%;
    height: 500px;
    margin: 10px;
    padding: 10px;
    border: 5px solid blue;
    border-radius: 30px;
}

.items:hover{
    border: 5px solid red;
    border-radius: 30px;
    background-color: rgb(47, 24, 255);
    color: white;
}

.items h1{
    margin: 10px;
}

.des p{
    margin: 10px 0px ;
}

img{
    width: 200px;
}




    /* Our Services */

.services{
	width:100%;
	padding:10px;
	margin:50px;
}

.intro h1{
	color: red;
	font-size: 50px;
	text-align: center;
	margin: 30px auto;
}

.block{
	display: flex;
	justify-content: center;
	align-items: center;
}

.card{
	text-align: center;
	margin: 15px;
	padding:10px;
	width: 20%;
    height: 444px;
    border: 2px solid red;
    border-radius: 0px 40px 0px 40px;
    background-color:rgb(100, 232, 255) ;
}

.card:hover{
    border: 3px solid red;
    border-radius: 50px 0px 50px 0px;
    background-color:white ;
    transition: 1s;
}

.card img{
	width:222px;
    padding: 5px;
    border-radius:0px 40px 0px 40px;
}



    /* Upcoming Product */

    
.coming-container{
    width: 100%;
    padding:10px;
	margin:50px;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
}

.coming{
    text-align: center;
    width: 15%;
    height: 500px;
    margin: 10px;
    padding: 10px;
    border: 5px solid blue;
    border-radius: 30px;
}

.coming:hover{
    border: 5px solid red;
    border-radius: 30px;
    background-color: rgb(47, 24, 255);
    color: white;
}

.coming h1{
    margin: 10px;
}

.coming img{
    width: 180px;
    height: 200px;
}





    /* Contact Us */

.kontakt{
    background-color: rgb(2, 0, 37);
    text-align: center;
    color: white;
    padding: 10px;
    border: 2px solid black;
}

.kontakt textarea{
    width: 300px;
    height: 60px;
}

.kontakt input:focus{
    background-color: yellow;
    color:  rgb(2, 0, 37);
    font-size: x-large;
    padding: 10px;
}

.kontakt textarea:focus{
    background-color: yellow;
    width: 30%;
    height: 80px;
    color:  rgb(2, 0, 37);
    font-size: x-large;
    padding: 10px;
}

.kalar{
    color: yellow;
    font-size: 200%;
}



    /* Footer */

.bottom{
    background-color: rgb(1, 0, 14);
    width: 100%;
    margin-top: 20px;
    border-radius: 50px;
}

.bottom h4 a{
    text-decoration: none; 
    color: yellow;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li{
    margin: 20px 10px;
}

.socials a{
    text-decoration: none;
    color: white;
    border: 1.1px solid white;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}

.socials a:hover i{
    color: yellow;
    transition: 0.4s;
}