.navb{
    width: 100%;

}

.navb ul li{
    margin-left: 30%;
}

.navb ul li a{
    text-decoration: none;
    float: left;
    padding: 20px;
    font-size: larger;
}

.navb ul li a:hover{
    background-color:red;
    color: white;
    border-color: aqua;
    border-radius: 2px;
}

.navb ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: aqua;
    list-style-type: none;
    display: block;
}

.slider img{
    width: 100%;
    height: 80%;
}

.web-head{
    width: 400px;
    position: absolute;
    top: 320px;
    right: 100px;
}

.order-btn{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 30px;
    position: relative;
    top: 10px
}

.order-btn:hover{
    background-color: orange;
    color: black;
    transition: .5s;
}



    /* Latest Product */

.stext{
    width: 200px;
    height: 450px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    margin: 20px;
    float: left;
}

.stext img{
    width: 180px;
    height: 200px;
}
.products{
    width: 100%;
    height: 120px;
    margin-left: 290px;
    margin-top: 20px;
}

.stext:hover{
    background-color: white;
    color: black;
    border: 3px solid blue;
}



    /* Our Services */

.head1{
    text-align: center;
    color: blue;
    font-size: 20px;
    position: relative;
    right: 300px;
}

.services{
    width: 100%;
    height: 600px;
    text-align: center;
    margin-left: 20px;
}

.servce{
    width: 280px;
    height: 400px;
    float: left;
    border: 5px solid blue;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}

.servce:hover{
    border: 5px solid red;
    border-radius: 30px;
    background-color: blue;
    color: white;
    margin: 10px;
}

.shead{
    margin-top: 500px;
    margin-left: 550px;
}



    /* Upcoming Product */


.utext{
    width: 200px;
    height: 450px;
    background-color:aqua;
    color:blue;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 10px;
    float: left;
}

.utext img{
    width: 180px;
    height: 200px;
}


.upcome{
    width: 100%;
    height: 650px;
    margin-left: 200px;
}

.utext:hover{
    background-color: white;
    color: black;
}

.head2{
    text-align: center;
    color: blue;
    font-size: 20px;
    position: relative;
    left: -180px;
}




    /* Contact Us */

.kontakt{
    background-color: rgb(2, 0, 37);
    text-align: center;
    color: white;
    margin: 0%;
    padding: 10px;
    border: 10px;
    border-color: yellow;
    border-radius: 20px;
    height: 400px;
}

.kontakt textarea{
    width: 300px;
    height: 60px;
}

.kontakt input:focus{
    background-color: yellow;
    color:  rgb(2, 0, 37);
    font-size: x-large;
    padding: 10px;
}

.kontakt textarea:focus{
    background-color: yellow;
    width: 30%;
    height: 80px;
    color:  rgb(2, 0, 37);
    font-size: x-large;
    padding: 10px;
}

.kalar{
    color: yellow;
    font-size: 200%;
}

#social a{
    text-decoration: none;
    color: white;
    font-size: x-large;
}



    /* Footer */

.bottom{
    background-color: rgb(1, 0, 14);
    width: 100%;
    height: 108px;
    border-radius: 50px;
    padding-top: 10px;
}

.bottom h4 a{
    text-decoration: none; 
    color: yellow;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -50px;
}

.socials li{
    margin: 5px;
}

.socials a{
    text-decoration: none;
    color: white;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 18px;
    width: 20px;
}

.socials a:hover i{
    color: aqua;
}